List comprehension is a way to create lists using a concise syntax. It allows us to generate a new list by applying an expression to each item in an existing iterable (such as a list or range). This helps us to write cleaner, more readable code compared to traditional looping techniques.

In [1]:
a = [1,2,3,4,5]
square_a = [item ** 2 for item in a]
print(square_a)

[1, 4, 9, 16, 25]

In [2]:
#with some filter condition on elements
a = [1,2,3,4,5]
square_a = [item ** 2 for item in a if item % 2 != 0]
print(square_a)

[1, 9, 25]

In [3]:
list_using_range = [i for i in range(0, 10)]
print(list_using_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# nested loop in list comprehension
nested_list = [[x,y] for x in range(3) for y in range(3,6)]
print(nested_list)

[[0, 3], [0, 4], [0, 5], [1, 3], [1, 4], [1, 5], [2, 3], [2, 4], [2, 5]]

We can create dictionaries using simple expressions. A dictionary comprehension takes the form {key: value for (key, value) in iterable}

zip function is used to combine multiple iterator and iterate over them simultaneously

In [8]:
key_list = ['a', 'b', 'c']
val_list = [1,2,3]
dic = {k:v for (k,v) in zip(key_list, val_list)}
print(dic)

{'a': 1, 'b': 2, 'c': 3}

In [11]:
dic=dict.fromkeys(range(5), "x")

print(dic)

{0: 'x', 1: 'x', 2: 'x', 3: 'x', 4: 'x'}


**Lambda Function**

In [12]:
calc = lambda num: "odd" if num % 2 != 0 else "even"
print(calc(3))

odd

**This function can have any number of arguments but only one expression, which is evaluated and returned**

In [13]:
filter_nums = lambda s: ''.join([ch for ch in s if not ch.isdigit()])
print("filter_nums():", filter_nums("Geeks101"))

do_exclaim = lambda s: s + '!'
print("do_exclaim():", do_exclaim("I am tired"))

find_sum = lambda n: sum([int(x) for x in str(n)])
print("find_sum():", find_sum(101))

filter_nums(): Geeks
do_exclaim(): I am tired!
find_sum(): 2

**The lambda function gets more helpful when used inside a function.**

In [14]:
l = ["1", "2", "9", "0", "-1", "-2"]
# sort list[str] numerically using sorted()
# and custom sorting key using lambda
print("Sorted numerically:",
      sorted(l, key=lambda x: int(x)))

# filter positive even numbers
# using filter() and lambda function
print("Filtered positive even numbers:",
      list(filter(lambda x: not (int(x) % 2 == 0 and int(x) > 0), l)))

# added 10 to each item after type and
# casting to int, then convert items to string again
print("Operation on each item using lambda and map()",
      list(map(lambda x: str(int(x) + 10), l)))

Sorted numerically: ['-2', '-1', '0', '1', '2', '9']
Filtered positive even numbers: ['1', '9', '0', '-1', '-2']
Operation on each item using lambda and map() ['11', '12', '19', '10', '9', '8']

In [17]:
# find even number from a list using lambda

my_list = [1,2,3,4,5]
even_list = list(filter(lambda x: x % 2 == 0, my_list))
print(even_list)

[2, 4]

**The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.**

In [19]:
my_list = ['a', 'b','e', 'l', 'u', 't']
filter_vowel = list(filter(lambda x: x in ['a', 'e', 'i', 'o', 'u'] ,my_list))
print(filter_vowel)

['a', 'e', 'u']

In [21]:
# Define a function to check
# if a number is a multiple of 3
def is_multiple_of_3(num):
    return num % 3 == 0


# Create a list of numbers to filter
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter and a lambda function to
# filter the list of numbers and only
# keep the ones that are multiples of 3
result = list(filter(is_multiple_of_3, numbers))

# Print the result
print(result)

[3, 6, 9]

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

In [25]:
from functools import reduce

sum_reduce = reduce(lambda x,y: x*y, [1,2,3])

find_max =reduce(lambda x, y: x if x > y else y, [9,2,4,10,4,6] )

print(sum_reduce)
print("max_element", find_max)

6
max_element 10

The map() function is used to apply a given function to every item of an iterable, such as a list or tuple, and returns a map object (which is an iterator).

In [26]:
s = ['1', '2', '3', '4']
res = map(int, s)
print(list(res))

[1, 2, 3, 4]

In [27]:
a = [1, 2, 3, 4]

# Using lambda function in "function" parameter
# to double each number in the list
res = list(map(lambda x: x * 2, a))
print(res)

[2, 4, 6, 8]

In [28]:
a = [1, 2, 3]
b = [4, 5, 6]
res = map(lambda x, y: x + y, a, b)
print(list(res))

[5, 7, 9]

Recursion

In [30]:
def fact(n):
  if n == 1:
    return 1
  else:
    return n*fact(n-1)

print(fact(6))

720